<!-- <app-text (click)="fun()" [(ngModel)]="name" [required]=false [readonly]=false [disabled]=false [placeholder]="'Enter name'"
  [id]="'text-id'" [name]="'text-name'"></app-text> -->
<!-- <div class="form">
  <div class="accordion">
    <div class="accordion-section accordion-section-expanded">
      <div class="accordion-body">
        <div class="form-body">
          <div class="form-row">
            <label class="form-label">Ma Text</label>
            <div class="form-controls">

                <ma-text [(ngModel)]="name" [required]=false [readonly]=false [disabled]=false [placeholder]="'Enter name'"
                [id]="'text-ids'" [name]="'text-name'" (maTextOnChange)="maTextOnChange($event)" [maxlength]="10"></ma-text>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
  <div class="form"> 
      <div class="accordion"> sdfdsf  {{golf?.pristine}}
          <div class="accordion-section accordion-section-expanded">
              <div class="accordion-body">
                  <div class="form-body">
                      <div class="form-row">
                          <!-- <app-multi-select formControlName="name" [multiSelectList]="list" [renderProperty]="'id'" [optionId]="'id'" [readonly]=false
                              [required]=false [disabled]=false [availableLabel]="'available'" [selectedLabel]="'select'" [name]="'name'"
                              [id]="'select-id'" (onMaMultiSelectChange)="onMaMultiSelectChange($event)"></app-multi-select> -->

                          <!-- <ma-multi-select formControlName="name" [multiSelectList]="list" [renderProperty]="'id'" [optionId]="'id'" [readonly]=false
                              [required]=false [disabled]=false [availableLabel]="'available'" [selectedLabel]="'select'" [name]="'name'"
                              [id]="'select-id'" (onMaMultiSelectChange)="onMaMultiSelectChange($event)" [isAsteriskLabel]="false"></ma-multi-select> -->

                              <!-- <ma-multi-select [(ngModel)]="name" #golf="ngModel"  [multiSelectList]="list" [renderProperty]="'id'"
                              [optionId]="'id'" [readonly]=false [required]=false [disabled]=false
                              [availableLabel]="'available'" [selectedLabel]="'select'" [name]="'golf'" [id]="'select-id'"
                              (onMaMultiSelectChange)="onMaMultiSelectChange($event)" [isAsteriskLabel]="false">
                          </ma-multi-select> -->

                          <ma-text [(ngModel)]="name" [required]=false #golf="ngModel" [readonly]=false [disabled]=false [placeholder]="'Enter name'"
                          [id]="'text-ids'" [name]="'golf'" (maTextOnChange)="maTextOnChange($event)" [maxlength]="10"></ma-text>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <button class="btn btn-small" type="submit" class="">Submit</button>
</form>



<form [formGroup]="profileForm">
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  <br>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <br>
  <div class="form">
    <div class="accordion">
      <div class="accordion-section accordion-section-expanded">
        <div class="accordion-body">
          <div class="form-body">
            <div class="form-row">
              <label class="form-label">text</label>
              <div class="form-controls">
                <!-- <ma-text formControlName="name"  [required]=true [readonly]=false [disabled]=false [placeholder]="'Enter name'" [id]="'text-id'"
                  [name]="'text-name'" (maTextOnChange)="maTextOnChange($event)"></ma-text> -->
                  <!-- <div class="color-attention "
                  *ngIf="profileForm.controls['name'].touched &&  !profileForm.controls['name'].valid && profileForm.controls['name'].errors.required">
                  name is required.
              </div> -->
              <!-- <div *ngIf="profileForm.invalid && formControls.name.touched && formControls.name?.errors?.required">Email is required</div> -->
              <div class="color-attention "
              *ngIf="profileForm.controls['name'].touched &&  !profileForm.controls['name'].valid && profileForm.controls['name'].errors.required">
              Title is required.
          </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="submit()">submit</button>
</form>