<!-- <div class="form">
  <div class="form-body">
    <div class="form-row form-row-inline form-row-gutters">
      <div class="form-label">Select</div> -->
      <!-- <label for="sourceType">Source Type</label> -->
      <!-- <div class="form-controls">
        <div class="section-body">
          <ma-select [(ngModel)]="name" [optionsList]="selectList" [optionId]="'id'" [renderProperty]="'title'"
            [readOnly]=false [disabled]=false [disableSelect]=false [required]=false [placeholder]="''"
            [provideObject]=false (onMaSelectChange)="changeProperty($event)"></ma-select>
        </div>
      </div> -->
      <!-- <div class="form-controls"> -->
          <!-- <div class="section-body"> -->

        <!-- <ma-select [(ngModel)]="name" [optionsList]="selectList" [optionId]="'id'" [renderProperty]="'title'"
        [readOnly]=false [disabled]=false [disableSelect]=false [required]=false [placeholder]="''"
        [provideObject]=false (onMaSelectChange)="changeProperty($event)"></ma-select> -->
      <!-- </div> -->
      <!-- </div>
     
    </div>
  </div> -->
  <ma-select [(ngModel)]="name"  [optionsList]="list"
  [readOnly]=false [disabled]=false [disableSelect]=false [required]=false [placeholder]="'please select'"
  [provideObject]=false (onMaSelectChange)="changeProperty($event)"></ma-select>

  <form [formGroup]="profileForm">
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  <br>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <br>
  <div class="form">
    <div class="accordion">
      <div class="accordion-section accordion-section-expanded">
        <div class="accordion-body">
          <div class="form-body">
            <div class="form-row">
              <label class="form-label">text</label>
              <div class="form-controls">
                <!-- <ma-text formControlName="name" [(ngModel)]="name" [required]=true [readonly]=false [disabled]=false [placeholder]="'Enter name'" [id]="'text-id'"
                  [name]="'text-name'" (maTextOnChange)="maTextOnChange($event)" (blur)="blur()"></ma-text> -->
                  <!-- <ma-select formControlName="name"   [optionsList]="selectList" [optionId]="'id'" [renderProperty]="'title'"
                  [readOnly]=false [disabled]=false [disableSelect]=false [required]=false [placeholder]="'please select'"
                  [provideObject]=false (onMaSelectChange)="changeProperty($event)"></ma-select> -->
                  <!-- <div class="color-attention "
                  *ngIf="profileForm.controls['name'].touched &&  !profileForm.controls['name'].valid && profileForm.controls['name'].errors.required">
                  name is required.
              </div> -->
              <!-- <div *ngIf="profileForm.invalid && formControls.name.touched && formControls.name?.errors?.required">Email is required</div> -->
              <div class="color-attention "
              *ngIf="profileForm.controls['name'].touched &&  !profileForm.controls['name'].valid && profileForm.controls['name'].errors.required">
              Title is required.
          </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="submit()" [disabled]="profileForm.invalid">submit</button>
  <button (click)="reset()" >submit</button>
</form>