<!-- <h3>Template Driven Form</h3>

<form #signupForm="ngForm" (ngSubmit)="submit(signupForm)">
  <div class="form">
    <div class="section-body">
      <div class="form-row">
        <div class="form-label">Password</div>
        <div class="form-controls"> -->
          <!-- <ma-custom-pattern [name]="'password'" [(ngModel)]="name" [readonly]="false" [pattern]="pwdPattern"
            [maxLength]="10" [id]="'psw-id'" [required]="false" [disabled]="false"
            (maCustomPatternOnChange)="maCustomPatternOnChange($event)"></ma-custom-pattern>
          <div style="color: red" *ngIf="signupForm.invalid && signupForm.controls['password'].errors.pattern">Password
            not valid. </div>
        </div> -->
      <!-- </div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form> -->