<!-- <div class="section-body">
  <div class="form form-questions">
    <div class="form-body">
      <div class="form-row">
        <label for="field-1#" class="form-label">ma toggle
        </label>
        <div class="form-controls">
          <ma-toggle [(ngModel)]="value" [disabled]=false [readonly]=false [name]="'toggleName'" [id]="'toggleId'" [required]=false
            [toggleTextName]="['Off', 'On']" (maToggleOnChange)="toggleChange($event)"></ma-toggle>
        </div>
      </div>
    </div>
  </div>
</div> -->

<form [formGroup]="profileForm">
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  <br>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <br>
  <div class="form">
    <div class="accordion">
      <div class="accordion-section accordion-section-expanded">
        <div class="accordion-body">
          <div class="form-body">
            <div class="form-row">
              <label class="form-label">text area</label>
              <div class="form-controls">
                <ma-toggle formControlName="name" [disabled]=false [name]="'toggleName'" [id]="'toggleId'" [required]=false [toggleTextName]="['Off', 'On']"
                  (maToggleOnChange)="toggleChange($event)"></ma-toggle>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="submit()" [disabled]="profileForm.invalid">submit</button>
</form>