<h3>Template Driven Form</h3>

<form #signupForm="ngForm" (ngSubmit)="submit(signupForm)">
  <div class="form">
    <div class="section-body">
      <div class="form-row">
        <div class="form-label">Password</div>
        <div class="form-controls">
          <!-- <ma-password [name]="'password'" [(ngModel)]="name" [readonly]="false" [id]="'psw-id'" [required]="false"
            [disabled]="false" (maPasswordOnChange)="maPasswordOnChange($event)"></ma-password>
          <div style="color: red" *ngIf="signupForm.invalid && signupForm.controls['password'].errors.pattern">Password
            not valid. </div> -->
        </div>
        <!-- <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)"  style="color: red">
          <div *ngIf="signupForm.controls['password'].errors.required">
          Name is required.
        </div>
      </div> -->
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>

<h3>Reactive Form</h3>

<form [formGroup]="pwdForm" action="">
  <div class="form">
    <div class="section-body">
      <div class="form-row">
        <div class="form-label">Password</div>
        <div class="form-controls">
          <!-- <ma-password [name]="'psw'" [(ngModel)]="name" formControlName="psw" [readonly]="false" [required]="false" [disabled]="false"
            (maPasswordOnChange)="maPasswordOnChange($event)"></ma-password>
          <div style="color: red" *ngIf="pwdForm.invalid && pwdForm.controls['psw'].errors.pattern">Password
            not valid. </div>
            <div style="color: red" *ngIf="pwdForm.invalid && pwdForm.controls['psw'].touched && pwdForm.controls['psw'].errors.required">Password
              is required. </div> -->
        </div>
      </div>
    </div>
  </div>
  <button type="submit" (click)="submit(pwdForm)">submit</button>
</form>
  