<!-- <ma-accordion [closeOthers]=false [accordionList]="accordionList" #expandAll>

  <ng-template #section1>
    <h1>section 1</h1>
  </ng-template>

  <ng-template #section2>
    <h1>section 2</h1>
  </ng-template>

  <ng-template #section3>
    <h1>section 3</h1>
  </ng-template>

  <ng-template #section4>
    <h1>section 4</h1>
  </ng-template>

</ma-accordion> -->
<!-- <router-outlet></router-outlet> -->
<div class="wrapper">
    <div class="container">
        <main class="main">
            <div class="main-body">
                <div class="shell">
                    <section class="section">
                        <div class="section-body">
                            <div class="tabs ">
                                <header class="tabs-head">
                                    <nav class="tabs-nav">
                                        <ul>
                                            <li routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="current" tabindex="0">
                                                <a>Table</a>
                                            </li>
                                            <li routerLink="/select" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>Select</a>
                                            </li>
                                            <li routerLink="/modal" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>Modal</a>
                                            </li>
                                            <li routerLink="/toggle" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>Ma Toggle</a>
                                            </li>
                                            <li routerLink="/date-picker" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>Datepicker</a>
                                            </li>
                                            <li routerLink="/date-time" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>DateTime</a>
                                            </li>
                                            <li routerLink="/text-area" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>TextArea</a>
                                            </li>
                                            <li routerLink="/photo" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>Photo</a>
                                            </li>
                                            <li routerLink="/text" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>text</a>
                                            </li>
                                            <li routerLink="/masking" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>Masking</a>
                                            </li>
                                            <li routerLink="/accordion" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>Accordion</a>
                                            </li>
                                            <li routerLink="/number" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>Number</a>
                                            </li>
                                            <li routerLink="/checkbox" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>checkbox</a>
                                            </li>
                                            <li routerLink="/multi-select" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>multi-select</a>
                                            </li>
                                            <li routerLink="/radio" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>radio button</a>
                                            </li>
                                            <li routerLink="/password-matching" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>password matching</a>
                                            </li>
                                            <li routerLink="/auto-complete" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>auto-complete</a>
                                            </li>
                                            <li routerLink="/tree" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>tree</a>
                                            </li>
                                            <li routerLink="/password" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>password</a>
                                            </li>
                                            <li routerLink="/url" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>Url</a>
                                            </li>
                                            <li routerLink="/dynamic-modal" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>dynamic-modal</a>
                                            </li>
                                            <li routerLink="/custom-pattern" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>custom-pattern</a>
                                            </li>
                                            <li routerLink="/assignment" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
                                                <a>assignment </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </header>
                                <div class="tabs-body">
                                    <router-outlet></router-outlet>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
</div>