<!-- <form [formGroup]="signupForm" action="" match [password]="'usrpass'" [confirmPassword]="'confirmpass'">
  <div class="col-md-6">
    <div class="form-group">
      <label class="bmd-label-floating">Password</label>
      <input type="password" class="form-control" formControlName="usrpass">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="bmd-label-floating">Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmpass">
      <div *ngIf="signupForm.controls['confirmpass'].errors" class="invalid-feedback">
        <div style="color: red" *ngIf="signupForm.controls['confirmpass'].errors.misMatch">Confirm password is incorrect</div>
      </div>
    </div>
  </div>

  <button type="submit" (click)="submit()">submit</button>
</form> -->


<!-- <form [formGroup]="signupForm" action="" match [password]="'usrpass'" [confirmPassword]="'confirmpass'" action="">
  <div class="form">
    <div class="section-body">
      <div class="form-row">
        <div class="form-label">Password</div>
        <div class="form-controls">
          <input class="field" type="password" formControlName="usrpass">
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">Confirm Password</div>
        <div class="form-controls">
          <input class="field" type="password" formControlName="confirmpass">
          <div style="color: red" *ngIf="signupForm.invalid && signupForm.controls['confirmpass'].errors.misMatch">Confirm password and Password dont match</div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" (click)="submit()">submit</button>
</form> -->


<!-- <form #signupForm="ngForm" (ngSubmit)="submit(signupForm)" match [password]="'usrpass'" [confirmPassword]="'confirmpass'">
    <div class="form">
        <div class="section-body">
          <div class="form-row">
            <div class="form-label">Password</div>
            <div class="form-controls">
              <input class="field" type="password" name="usrpass" ngModel>
            </div>
          </div>
    
          <div class="form-row">
            <div class="form-label">Confirm Password</div>
            <div class="form-controls">
              <input class="field" type="password" name="confirmpass" ngModel>
              <div style="color: red" *ngIf="signupForm.invalid && signupForm.controls['confirmpass'].errors.misMatch">Confirm password is incorrect</div>
            </div>
          </div>
        </div>
      </div>
  <button type="submit">Submit</button>
</form> -->