<div class="form">
  <div class="accordion">
    <div class="accordion-section accordion-section-expanded">
      <div class="accordion-body">
        <div class="form-body">
          <div class="form-row">
            <label class="form-label">Ma-Photo</label>
            <div class="form-controls">
              <!-- <app-photo [(ngModel)]="name" [readonly]=false [required]=false [disabled]=false [id]="'file-id'" [name]="'file-name'" (maPhotosOnChange)="onPhotosChanged($event)"></app-photo> -->
              <!-- <ma-photo [(ngModel)]="name" [readonly]=false [required]=false [disabled]=false [id]="'file-id'" [name]="'file-name'" (maPhotosOnChange)="onPhotosChanged($event)"></ma-photo> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

